/****************************************************
* COMMON STYLES
****************************************************/

/* GENERAL RULES
   ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: $dark;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* UTILITY
   ============================= */

/* == Flex == */
@mixin u-flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/* == Inline List == */
@mixin u-list($padding: 3px) {
  //use this mixin into <ul>
  li {
    list-style: none;
    display: inline-block;
    padding: 0 $padding + px;
  }
  li:last-child {
    padding-right: 0;
  }
}

/* ANIMATION & EFFECTS
   ============================= */

/* == Neon == */
@mixin u-led($color : $gold){
  cursor: pointer;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $color,
    0 0 30px $color, 0 0 40px $color, 0 0 55px $color, 0 0 75px $color,
    2px 2px 1px rgba(206, 199, 37, 0);
}


/* == Vue Fade Transition == */
.fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

/* == Animation from right to left == */
@keyframes button-animate {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

/* == Animation for bottoms led == */
@keyframes bottom-animate {
  0% {
    left: -150%;
  }

  100% {
    left: -30%;
  }
}

/* == Rotation == */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* == Input Text Animation for forms == */
@keyframes inputMove {
  from {
    top: 0%;
    left: 10px;
  }
  to {
    top: -25%;
    left: 7px;
  }
}

/* == Animation to Alert Sent Message == */
@keyframes sentMessage {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

/* == Animation Fade with Opacity  == */
@keyframes display {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacirt: 0;
  }
}

/* SPACING
   ============================= */

/* == Padding & Margin == */
@each $range in $ranges {
  @each $side in $sides {
    .u-p#{str-slice($side, 0, 1)}--#{$range} {
      padding-#{$side}: #{$range}px !important;
    }
    .u-m#{str-slice($side, 0, 1)}--#{$range} {
      margin-#{$side}: #{$range}px !important;
    }
  }
}

/* == Width == */
.u-width--25 {
  width: 25%;
}

.u-width--50 {
  width: 50%;
}

.u-width--75 {
  width: 75%;
}

.u-width--100 {
  width: 100%;
}

/* TEXT
   ============================= */

/* == Text Size == */
.u-text--xs {
  font-size: 0.5rem;
}

.u-text--sm {
  font-size: 0.75rem;
}

.u-text--md {
  font-size: 1rem;
}

.u-text--lg {
  font-size: 2rem;
}

.u-text--xl {
  font-size: 5rem;
}

/* == Text Weight == */
.u-text--thin {
  font-weight: 300;
}

.u-text--normal {
  font-weight: 400;
}

.u-text--bold {
  font-weight: 700;
}

.u-text--light {
  color: $light;
}

.u-text--dark {
  color: $dark;
}

/* == Text Position == */
.u-text--center {
  text-align: center;
}

.u-text--rx {
  text-align: right;
}

.u-text--lx {
  text-align: left;
}